/**
 * Basic typography style for copy text
 */

.h1,
.h2,
.h3,
.h4 {
  font-weight: 700;
  line-height: 1;
}

.h1 {
  font-size: 72px;
  line-height: 1;

  @media (max-width: 1299.98px) {
    font-size: 60px;
  }

  @media (max-width: 1199.98px) {
    font-size: 50px;
  }

  @media (max-width: 991.98px) {
    font-size: 40px;
  }
}

.h2 {
  font-size: 56px;

  @media (max-width: 1299.98px) {
    font-size: 50px;
  }

  @media (max-width: 1199.98px) {
    font-size: 40px;
  }

  @media (max-width: 991.98px) {
    font-size: 32px;
  }
}

.h3 {
  font-size: 32px;

  @media (max-width: 1199.98px) {
    font-size: 28px;
  }

  @media (max-width: 991.98px) {
    font-size: 24px;
  }
}

.h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

.link {
  color: var(--link-primary);
}

.link:hover,
.link:focus,
.link:active {
  color: var(--link-primary-hover);
}
